---
---

@import "{{ site.theme }}";
sup {
    font-size: 65%;
    vertical-align: super;
    font-weight: bold;
}
h2 {
    font-size: 20px;
}
img {
    max-width: 640px;
}

div.top_nav {
    background: linear-gradient(to bottom, #929292,#969696);
    top: 0;
    font: inherit;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    z-index: 3;
    height: 50px;
}

ul.top_nav{
    list-style-type: none;
    max-width: 640px;
    margin: 0 auto;
    height: 50px;
}

#main_content_wrap {
    border-top: none;
}

li.top_nav {
  float: left;
}

li.top_nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 25px 10px 25px;
  vertical-align: baseline;
  text-decoration: none;
  font-size: 20px;
}

li.top_nav a:hover {
  text-decoration: none;
  background-color: #373737;
  color: white;
}

table {
  border: none;
  border-collapse:collapse;
}

td {
  border-style : hidden!important;
}

th {
  background: #f2f2f2;
}

html {
  scroll-padding-top: 70px; /* height of sticky header */
}

@media screen and (max-width: 992px) {
img {
    max-width: 100%; 
}
div.top_nav {
    display: none;
}
}

