<!DOCTYPE html>
{% assign lang = page.lang | default: site.lang | default: "en" %}
{% assign is_zh = false %}
{% if lang contains "zh" %}
  {% assign is_zh = true %}
{% endif %}

<html lang="{{ lang }}">

  <head>
<link rel="alternate" hreflang="en" href="{{ '/' | absolute_url }}">
<link rel="alternate" hreflang="zh-CN" href="{{ '/zh/' | absolute_url }}">
<link rel="alternate" hreflang="x-default" href="{{ '/' | absolute_url }}">

    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="icon" href="https://raw.githubusercontent.com/chengshul/chengshul.github.io/main/icon.png">
{% seo %}
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          {% if site.github.is_project_page %}
            <a id="forkme_banner" href="{{ site.github.repository_url }}">View on GitHub</a>
          {% endif %}
<h1 id="project_title">
  {{ page.title | default: site.title | default: site.github.repository_name }}
</h1>

<h2 id="project_tagline">
  {{ page.description | default: site.description | default: site.github.project_tagline }}
</h2>
          <!--h1 id="project_title">{{ site.title | default: site.github.repository_name }}</h1>
          <h2 id="project_tagline">{{ site.description | default: site.github.project_tagline }}</h2-->

          {% if site.show_downloads %}
            <section id="downloads">
              <a class="zip_download_link" href="{{ site.github.zip_url }}">Download this project as a .zip file</a>
              <a class="tar_download_link" href="{{ site.github.tar_url }}">Download this project as a tar.gz file</a>
            </section>
          {% endif %}
        </header>
    </div>
    <!-- MAIN CONTENT -->
    <!--nav class="site-nav">
  <a href="#research">
    {% if is_zh %}研究{% else %}Research{% endif %}
  </a>

  <a href="#short-cv">
    {% if is_zh %}简历{% else %}Short CV{% endif %}
  </a>

  <a href="#publications">
    {% if is_zh %}研究论文{% else %}Publications{% endif %}
  </a>

  <a href="#more-about-me">
    {% if is_zh %}关于我{% else %}More about me{% endif %}
  </a>

  <span class="language-switch">
    {% if is_zh %}
      <a href="{{ page.alternate | default: '/' | relative_url }}">English</a>
    {% else %}
      <a href="{{ page.alternate | default: '/zh/' | relative_url }}">中文</a>
    {% endif %}
  </span>
</nav-->
    <div class="top_nav">
    <ul class="top_nav">
        <li class="top_nav"><a href="#research">{% if is_zh %}研究{% else %}Research{% endif %}</a></li>
        <li class="top_nav"><a href="#short-cv">{% if is_zh %}简历{% else %}Short CV{% endif %}</a></li>
        <li class="top_nav"><a href="#publications">{% if is_zh %}论文{% else %}Publications{% endif %}</a></li>
        <!--li class="top_nav"><a href="#more-about-me">{% if is_zh %}关于我{% else %}More about me{% endif %}</a></li-->
        <li class="language-switch">
            {% if is_zh %}
      <a href="{{ page.alternate | default: '/' | relative_url }}">English</a>
    {% else %}
      <a href="{{ page.alternate | default: '/zh/' | relative_url }}">中文</a>
    {% endif %}
        </li>
    </ul>
    </div-->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        {% if site.github.is_project_page %}
        <p class="copyright">{{ site.title | default: site.github.repository_name }} maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p>Published with <a href="https://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>

  </body>
</html>
